<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1">
    <test name="Regression" thread-count="3" parallel="classes">
        <classes>
            <class name="pl.swaglab.tests.LoginTest"/>
            <class name="pl.swaglab.tests.ShoppingCartTest"/>
        </classes>
    </test>
</suite>